@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@400;700&display=swap');

/* General elements */

html {
    overflow-y: overlay;
    overflow-x: hidden;
}
body {
    background: #000 !important;
    color: #fff !important;
    font-family: 'JetBrains Mono' !important;
}
h1, h2, h3, h4 {
		font-family: 'Spline Sans Mono' !important;
		word-break: break-all;
}
a {
    color: #777 !important;
    text-decoration: none !important;
    border-bottom: 0 !important;
}
h1 {
    font-size: 55px;
		text-transform: uppercase;
}

h2 {
    font-size: 30px;
}
h3 {
    margin: 0 !important;
    line-height: 15px;
}
p {
    line-height: 28px;
}

/* Secondary colour elements */

a.button:hover {
    background: #6D48FF !important;
		color: #fff !important;
}

a:hover {
		color: #6D48FF !important;
}
.active {
		color: #6D48FF !important;
}
/* Navigation elements */

.nav {
    padding: 0 !important;
}
.nav a {
		margin-right: 20px;
		font-size: 17px;
}

/* Team elements */

#team {
		margin-top: 80px;
}
#team img {
    max-width: 130px;
    border-radius: 100px;
    margin-right: 20px;
}
.team-member {
    margin-bottom: 50px !important;
}
.team-member img {
    display: inline-block !important;
    vertical-align: top;
}
.team-member-desc {
    display: inline-block !important;
    width: 200px;
    vertical-align: top;
    margin-top: 10px;
}
.team-member-name {
    display: block !important;
}
.team-member-title {
    display: block !important;
    margin-top: 10px;
}

/* Glow elements */

#glow-arena {
		background: transparent;
		display: block;
		height: 2000px;
		width: 100px;
		margin-top: 100px;
}
.glow {
		width: 5px;
		height: 5px;
		position: fixed;
		left: 100px;
		top: 100px;
		background: #fff;
		box-shadow:
	    0 0 30px 5px #fff,
	    0 0 50px 20px #f0f,
	    0 0 70px 15px #0ff;
		border-radius: 100px;
		z-index: -1000;
		opacity: 0.6;
}
.glow::after {
		content: attr(name);
		color: #fff;
		position: fixed;
		display: block;
		width: 60px;
		text-align: center;
		font-size: 13px;
		margin-left: -27px;
		margin-top: -60px;
}
.star {
		width: 2px;
		height: 2px;
		position: absolute;
		background: #fff;
		border-radius: 100px;
		z-index: -1000;
		opacity: 0.5 !important;
}

/* Projects elements */

.project {
	margin-bottom: 18px;
	line-height: 28px;
}
.project_name {
	line-height: 28px;
	text-transform: uppercase;
}
.project_description {
	margin: 0;
}


/* Other elements */

video {
    margin: 50px auto !important;
    display: block;
}
a.button {
		background: #fff;
		padding: 15px 40px !important;
		color: #000 !important;
		margin: 100px auto;
		display: block;
		text-align: center;
		text-decoration: none !important;
		border-bottom: 0 !important;
		font-size: 16px;
}
#symbol {
    color: #333;
		margin: 0 1px;
		line-height: 28px;
    font-family: 'JetBrains Mono' !important;
}
.breadcrumbs {
    display: none;
}
