/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,400;0,700;1,400;1,700&display=block');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=block');

/* GENERAL ELEMENTS */

body {
	font-family: 'JetBrains Mono' !important;
	background: #000;
	color: #fff;
}
h1, h2, h3, h4, input {
	font-family: 'Spline Sans Mono' !important;
	word-break: break-all;
}
a {
	color: #fff !important;
}

/* NAV */

#nav {
	padding: 40px 60px 20px;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 1000;
}
#nav h1 {
	float: left;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#nav h1 a {
	text-decoration: none;
}
#symbol {
	color: #333;
	font-family: 'JetBrains Mono' !important;
}
#nav-links {
	float: right;
	margin: 5px 0 0 0;
	padding: 0;
	text-transform: lowercase;
}
#hamburger {
	display: none;
}
#nav-links a {
	margin-left: 40px;
	text-decoration: none;
	color: #fff;
	padding-bottom: 30px;
}
#nav a:hover {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0px 20px;
}
#nav-links a:nth-child(1):hover {
	background-image: url(../img/nav/nav-1.png);
}
#nav-links a:nth-child(2):hover {
	background-image: url(../img/nav/nav-2.png);
}
#nav-links a:nth-child(3):hover {
	background-image: url(../img/nav/nav-3.png);
}

/* MAIN */

#main {
	padding: 0px 60px;
	margin-top: 97px;
}

/* ROCK */

#main .rock {
	width: 100%;
	max-height: calc(100vh - 100px);
	margin: 0 auto 0 auto;
}
#main .rock video {
	width: 100%;
	max-height: inherit;
}

/* DUAL INFO */

#main .dual-info {
	margin: 0 0 100px 0;
	overflow: hidden;
	line-height: 25px;
}
#main .dual-info span:first-child {
	float: left;
	font-weight: bold;
	text-transform: lowercase;
	margin-bottom: 20px;
}
#main .dual-info span:nth-child(2) {
	float: right;
	max-width: 700px;
}

/* PROJECTS */

#projects {
	margin-bottom: 100px;
	width: 100%;
}
#projects-primary {
	width: 100%;
	min-height: 80vh;
	margin-bottom: 100px;
}
#projects-primary .projects-box {
	min-height: 80vh;
}
.projects-box {
	border: 3px solid #fff;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 20px;
}
.projects-title {
	font-weight: bold;
	text-transform: lowercase;
	text-align: left;
	display: block;
}
#projects-secondary {
	overflow: hidden;
}
#projects-secondary .projects-box {
	max-width: 50vw;
	display: block;
}
#projects-secondary .projects-secondary {
	margin-bottom: 100px;
}
#projects-secondary .projects-secondary:nth-child(odd) {
	float: left;
}
#projects-secondary .projects-secondary:nth-child(even) {
	float: right;
}
@media (max-width: 900px) {
	
}

/* FOOTER */

#footer {
	padding: 0 60px;
	margin-bottom: 100px;
}
#footer a {
	margin-right: 40px;
	text-transform: lowercase;
	font-weight: bold;
	color: #000;
}

/* GO TO TOP */

#above-button {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 40px;
	right: 60px;
	background: url('../img/nav/above-button.png');
	background-size: 100%;
	background-repeat: no-repeat;
	cursor: pointer;
}

/* STAFF */

#staff {
	margin-bottom: 100px;
}
.staff-member {
	max-width: 60%;
	height: 100%;
	margin: 0 auto 100px auto;
	display: flex;
}
.staff-avatar {
	max-width: 250px;
	height: auto;
}
.staff-info {
	width: 100%;
	line-height: 25px;
	padding: 50px 100px 0 100px;
}
.staff-info > span {
	display: block;
}
@media (max-width: 900px) {
	.staff-member {
		display: block;
		margin: 0 0 100px 0;
	}
	.staff-info {
		width: 100%;
		line-height: 25px;
		padding: 0;
	}
}
#projects.projects-page {
	margin-top: 150px;
}



/* MOBILE */

@media (max-width: 900px) {
	#hamburger {
		display: block;
		float: right;
		font-size: 40px;
		line-height: 0;
		margin: 10px -3px 0 0;
	}
	#nav-links-expand {
		display: none;
		position: fixed;
		right: 60px;
		background: #000;
		z-index: 1001;
	}
	#nav-links-expand a {
		display: block;
		margin-left: 0;
		padding: 17px 0 17px 20px;
		margin: 0 0 6px 0;
	}
	#nav-links-expand {
		margin-top: 40px;
	}
	#nav-links a:hover {
		background-image: none !important;
	}
}